#custom{
  text-align:center;
}
#inputTag{
  display: none;
}
#uploadImage{
  border-radius: 20px;
  font-size: 20px;
}



#selectImage{
  cursor: pointer;
  border: 2px dashed;
  width: 100%;
  min-width: 318px;
  border-radius:10px;
}
#inputImage{
  cursor: pointer;
  width: 10%;
  height: 100px;
  border-radius:20px;
  background: red;
}
#custom p{
    font-size:12px;
}
#imageName{
  color:green;
  margin-top:20px !important;
  margin-bottom:20px !important;
}
.download-btn{
    border-radius:30px !important;
}

.upload a,#inputImage{
  font-size: 20px !important;
  border-radius: 15px;
}

.upload p{
  font-size: 15px;
}


/* Out side css */

body {
  margin: 0;
  font: 0.8em/1.3em "Lucida Grande", Arial, Arial, sans-serif; 
  background: #ededed;
}

h1 { font-weight: normal; font-size: 24px; }
h1 a { color: #FFFAD5; text-decoration: none; }
h2 { font-weight: normal; margin-top: 24px; }
h3 { margin-top: 24px; }

.order, .product { width: 95%; }
.product { margin: 10px; } 

.product img {
  margin: 10px;
  height: 80px;
  float: left;
}

.product h4 {
  margin: 0 0 12px 0;
  font-size: 14px;
}

.price {
  color: #666;
  font-size: 15px;
  font-family: Times, "Times New Roman";
  font-style: italic;
}

.box {
  padding: 0;
  background:#FAFAFA url('../images/box-bg2.gif') repeat-x scroll left top;
  border:1px solid #CCCCCC;
}

.wrapper {
  border:1px solid #FFFFFF;
  padding: 10px;
}
